{# templates/components/cards/activity.html.twig v4.8 #}
<div class="card" style="height: 28rem">
	<div class="card-body card-body-scrollable card-body-scrollable-shadow">
		<twig:parts:activity/>
	</div>
</div>

{#
=== Original Liquid (activity.html) ===
<div class="card" style="height: 28rem">
	<div class="card-body card-body-scrollable card-body-scrollable-shadow">
		{% include "parts/activity.html" %}
	</div>
</div>
#}