{# templates/components/cards/card-3.html.twig v4.8 #}
<div class="card">
	<div class="card-body">
		<div class="row">
			<div class="col-auto">
				<div class="avatar avatar-rounded placeholder"></div>
			</div>
			<div class="col">
				<div class="placeholder placeholder-xs col-9"></div>
				<div class="placeholder placeholder-xs col-7"></div>
			</div>
		</div>
	</div>
</div>

{#
=== Original Liquid (placeholder/card-3.html) ===
<div class="card">
	<div class="card-body">
		<div class="row">
			<div class="col-auto">
				<div class="avatar avatar-rounded placeholder"></div>
			</div>
			<div class="col">
				<div class="placeholder placeholder-xs col-9"></div>
				<div class="placeholder placeholder-xs col-7"></div>
			</div>
		</div>
	</div>
</div>
#}