{# templates/components/cards/stat-card.html.twig v4.8 #}
{%- set title = title | default('Title') %}
{%- set value = value | default(null) %}
{%- set icon = icon | default('user') %}
<div class="card">
	<div class="card-body">
		<div class="row align-items-center">
			<div class="col">
				<h4 class="subheader mb-1">{{ title }}</h4>
				<div class="h3 m-0">{{ value }}</div>
			</div>
			<div class="col-auto">
				<twig:ui:avatar :icon="icon" size="lg"/>
			</div>
		</div>
	</div>
</div>

{#
=== Original Liquid (stat-card.html) ===
{% assign title = include.title | default: "Title" %}
{% assign value = include.value | default: "" %}
{% assign icon = include.icon | default: "user" %}
<div class="card">
	<div class="card-body">
		<div class="row align-items-center">
			<div class="col">
				<h4 class="subheader mb-1">{{ title }}</h4>
				<div class="h3 m-0">{{ value }}</div>
			</div>
			<div class="col-auto">
				{% include "ui/avatar.html" icon=icon size="lg" %}
			</div>
		</div>
	</div>
</div>


#}