{# @SurvosTabler/components/page/_navbar_secondary.html.twig v1.1 #}
{% if _layout in ['horizontal', 'combo'] %}
<header class="navbar-expand-md">
    <div class="collapse navbar-collapse" id="navbar-menu">
        <div class="navbar">
            <div class="{{ containerClass }}">
                {# Tabler reference uses flex-column/flex-md-row here #}
                <div class="row flex-column flex-md-row flex-fill align-items-center">
                    <div class="col">
                        {{ component('tabler:menu', {type: NAVBAR_MENU, caller: _self, options: {layout: this.layout}}) }}
                    </div>
                    <div class="col col-md-auto">
                        {{ component('tabler:menu', {type: NAVBAR_MENU_END, caller: _self, options: {layout: this.layout}}) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
{% endif %}
