{# templates/components/ui/close.html.twig v3.9 #}
<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>

{#
=== Original Liquid (modal/close.html) ===
<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
#}