{# templates/components/ui/dropdown.html.twig v3.9 #}
{% set optionsArray = options | split(', ')  %}

<div class="dropdown">
	<a href="#" class="btn dropdown-toggle" data-bs-toggle="dropdown">{{ mainBtn  }}</a>
	<div class="dropdown-menu">
		{% for option in optionsArray  %}
		<a class="dropdown-item" href="#">{{ option  }}</a>
		{% endfor  %}
	</div>
</div>

{#
=== Original Liquid (dropdown.html) ===
{% assign optionsArray = include.options | split: ", " %}

<div class="dropdown">
	<a href="#" class="btn dropdown-toggle" data-bs-toggle="dropdown">{{ include.main-btn }}</a>
	<div class="dropdown-menu">
		{% for option in optionsArray %}
		<a class="dropdown-item" href="#">{{ option }}</a>
		{% endfor %}
	</div>
</div>
#}