{# templates/components/ui/footer.html.twig v3.9 #}
<div class="modal-footer">
	<button type="button" class="btn me-auto" data-bs-dismiss="modal">Close</button>
	<button type="button" class="btn btn-primary" data-bs-dismiss="modal">Save changes</button>
</div>

{#
=== Original Liquid (modal/footer.html) ===
<div class="modal-footer">
	<button type="button" class="btn me-auto" data-bs-dismiss="modal">Close</button>
	<button type="button" class="btn btn-primary" data-bs-dismiss="modal">Save changes</button>
</div>
#}