{# templates/components/parts/input-file.html.twig v3.9 #}
<div class="mb-3">
   <div class="form-label">{{ label | default('Custom File Input')  }}</div>
   <twig:ui:input-file/>
</div>

{#
=== Original Liquid (form/input-file.html) ===
<div class="mb-3">
   <div class="form-label">{{ include.label | default: 'Custom File Input' }}</div>
   {% include "ui/form/input-file.html" %}
</div>

#}