{# templates/components/parts/input-checkboxes-inline.html.twig v4.8 #}
<div class="mb-3">
   <div class="form-label">Inline Checkboxes</div>
   <div>
      <twig:ui:check :inline="true" title="Option 1" type="checkbox"/>
      <twig:ui:check :inline="true" title="Option 2" type="checkbox" :disabled="true"/>
      <twig:ui:check :inline="true" title="Option 3" type="checkbox" :checked="true"/>
   </div>
</div>

{#
=== Original Liquid (form/input-checkboxes-inline.html) ===
<div class="mb-3">
   <div class="form-label">Inline Checkboxes</div>
   <div>
      {% include "ui/form/check.html" inline=true title="Option 1" type="checkbox" %}
      {% include "ui/form/check.html" inline=true title="Option 2" type="checkbox" disabled=true %}
      {% include "ui/form/check.html" inline=true title="Option 3" type="checkbox" checked=true %}
   </div>
</div>

#}