{# templates/components/parts/input-toggle-single.html.twig v3.9 #}
<div class="mb-3">
	<div class="form-label">Single switch</div>
   <twig:ui:check :switch="true" title="I agree with terms and conditions"/>
</div>

{#
=== Original Liquid (form/input-toggle-single.html) ===
<div class="mb-3">
	<div class="form-label">Single switch</div>
   {% include "ui/form/check.html" switch=true title="I agree with terms and conditions" %}
</div>

#}