{# templates/components/parts/input-icon-separated.html.twig v4.8 #}
<div class="mb-3">
	<label class="form-label">Separated inputs</label>
	<div class="row g-2">
		<div class="col">
			<input type="text" class="form-control" placeholder="Search for…">
		</div>
		<div class="col-auto">
			<twig:ui:button icon="search" :iconOnly="true"/>
		</div>
	</div>
</div>

{#
=== Original Liquid (form/input-icon-separated.html) ===
<div class="mb-3">
	<label class="form-label">Separated inputs</label>
	<div class="row g-2">
		<div class="col">
			<input type="text" class="form-control" placeholder="Search for…">
		</div>
		<div class="col-auto">
			{% include "ui/button.html" icon="search" icon-only=true  %}
		</div>
	</div>
</div>

#}