{# templates/components/layout/calendar.html.twig v4.8 #}
<div class="d-flex">
	<twig:ui:button text="Add event" color="primary" icon="plus"/>
</div>

{#
=== Original Liquid (header-actions/calendar.html) ===
<div class="d-flex">
	{% include "ui/button.html" text="Add event" color="primary" icon="plus" %}
</div>
#}