{# templates/components/layout/layouts.html.twig v4.8 #}
<div class="card card-lg">
	<div class="card-body">
		<twig:layout:layouts-list/>
	</div>
</div>

{#
=== Original Liquid (layouts.html) ===
<div class="card card-lg">
	<div class="card-body">
		{% include "layout/layouts-list.html" %}
	</div>
</div>

#}