{# templates/components/layout/photos.html.twig v3.9 #}
<div class="d-flex">
	<div class="me-3">
		<twig:ui:input-icon/>
	</div>
	<twig:ui:button text="Add event" color="primary" icon="plus"/>
</div>

{#
=== Original Liquid (header-actions/photos.html) ===
<div class="d-flex">
	<div class="me-3">
		{% include "ui/form/input-icon.html" %}
	</div>
	{% include "ui/button.html" text="Add event" color="primary" icon="plus" %}
</div>
#}