{# templates/components/layout/print.html.twig v4.8 #}
<button type="button" class="btn btn-primary" onclick="javascript:window.print();">
	<twig:ui:icon icon="printer"/> Print Invoice
</button>

{#
=== Original Liquid (header-actions/print.html) ===
<button type="button" class="btn btn-primary" onclick="javascript:window.print();">
	{% include "ui/icon.html" icon="printer" %} Print Invoice
</button>
#}