{# templates/components/layout/skip-link.html.twig v3.9 #}
<a href="#content" class="visually-hidden skip-link">Skip to main content</a>

{#
=== Original Liquid (skip-link.html) ===
<a href="#content" class="visually-hidden skip-link">Skip to main content</a>


#}