{# templates/components/layout/users.html.twig v4.8 #}
<div class="d-flex">
	<input type="search" class="form-control d-inline-block w-9 me-3" placeholder="Search user…"/>
	<twig:ui:button text="New user" color="primary" icon="plus"/>
</div>

{#
=== Original Liquid (header-actions/users.html) ===
<div class="d-flex">
	<input type="search" class="form-control d-inline-block w-9 me-3" placeholder="Search user…"/>
	{% include "ui/button.html" text="New user" color="primary" icon="plus" %}
</div>
#}