{# @SurvosTabler/menu/search.html.twig - Search widget #}
{% extends '@KnpMenu/menu.html.twig' %}

{% block root %}
<div class="nav-item d-none d-md-flex me-3">
    <div class="btn-list">
        {{ block('children') }}
    </div>
</div>
{% endblock %}

{% block item %}
{# Search is typically handled separately, this is a placeholder #}
{% endblock %}
